/* 영역별 임시 코드 */
.header {
  
}
.visual {
  background: pink;
  height: 10vh;
}
.main {
  background: aqua;
  /* height: 50vh; */
}

.group1 {
  background: blue;
}
.group2 {
  background: tomato;
}
.group3 {
  background: brown;
}

.slogan {
  background: orange;
  height: 10vh;
}
.footer {
  background: lime;
  height: 15vh;
}
