/* 변수 */
:root {
  --base-width: 940px;
}

/* 숨김 콘텐츠 */
.a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* 공통 스타일 - Reset */
.reset-list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

/* 플렉스 컨테이너 */
/* .flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* 기본 스타일 */
body,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body{
  font-size: 1.4rem;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: #ccc;
  color: #121212;
}

a{
  color: inherit;
  text-decoration: none;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer {
  width: var(--base-width);
  margin: 0 auto;
}

/* 헤더 */
.header {
  position: relative;
}

/* 로고 */
.logo {
  position: absolute;
  top: 45px;
  left: 50px;
  margin: 0;
  font-size: 1em;
}

.logo a,
.logo img {
  display: block;
}

/* 안내 링크 */
.member-service {
  font-size: 0;
  text-align: right;
}

.member-service li {
  display: inline-block;
  background: orange;
}

.member-service a{
  font-size: 16px;
}
/* 비주얼 */
.visual {
}

/* 메인 콘텐츠 */
.main {
  /* 자식 요소가 플로트 되었을 때 부모를 플로트로 지정하여 문제 해결 */
  /* float: left; */
  /* float 이슈를 해결하기 위한 최신 해결책 */
  display: flow-root;
  min-height: 450px;
  padding: 40px 0;
  /* overflow: hidden; */
}

/* 가상 요소를 이용한 float 이슈 해결책 */
/* .main::after {
  content: '';
  clear: both;
  display: block;
  background: gray;
} */

.group {
  float: left;
  margin: 0 20px;
}

.group1 {
  width: 250px;
}

.group2 {
  width: 380px;
}

.group3 {
  width: 190px;
}

/* .clearfix {
  clear: both;
} */

/* 슬로건 */
.slogan {
}

/* 푸터 */
.footer-bg {
  background: silver;
}

.footer {
}
